<a href="https://colab.research.google.com/github/alinemmc/UFU_PPGEQ_AI_AlineCardoso/blob/main/07jun23_C%C3%B3pia_de_C%C3%B3pia_de_ATIV2LIXEIRAINTELIGENTE_C%C3%B3pia_de_class_007_image_processing_blood_cells_learning_transfer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [91]:
import tensorflow as tf
tf.__version__

'2.12.0'

In [92]:
from tensorflow.keras.layers import Input, Lambda, Dense, Flatten, Conv2D, BatchNormalization, ZeroPadding2D, MaxPool2D, Activation, add
from tensorflow.keras.models import Model
from tensorflow.keras.preprocessing import image
from tensorflow.keras.preprocessing.image import ImageDataGenerator
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.applications.mobilenet_v2 import preprocess_input

import cv2
import numpy as np

from sklearn.metrics import confusion_matrix
import numpy as np
import matplotlib.pyplot as plt

from glob import glob

import zipfile
import pandas as pd


from sklearn.metrics import classification_report, confusion_matrix

from sklearn.model_selection import train_test_split

In [93]:
IMAGE_SIZE = [224,224]
ImgSize = IMAGE_SIZE[0]
epochs = 16
batch_size = 128

In [94]:
!gdown --id 1L4mdCDBgybKqr5Wo-kqT8HXcBJ9HXqSX

/usr/local/lib/python3.10/dist-packages/gdown/cli.py:121: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  warnings.warn(
Downloading...
From: https://drive.google.com/uc?id=1L4mdCDBgybKqr5Wo-kqT8HXcBJ9HXqSX
To: /content/trash_nov_22_2018.zip
100% 42.8M/42.8M [00:00<00:00, 82.9MB/s]

In [95]:
FILE='trash_nov_22_2018.zip'

In [96]:
archive = zipfile.ZipFile('trash_nov_22_2018.zip', 'r')
archive.extractall()

In [97]:
img_name=[]
with zipfile.ZipFile(FILE, "r") as f:
    for name in f.namelist():
        img_name.append(name)

In [98]:
#img_name[0]

In [99]:
#Img_Size = 80
ref = 'jpg'
#notref = 'met'

In [100]:
X = []  
Y = []
n = len(img_name)
i = 0
for i in range(n):
  name = img_name[i]
  if(ref in name):
    Y.append(name)
    #X.append(cv2.imread(name,0))
    X.append(cv2.imread(name))
m = len(Y)
print(n,m)

2527 2527

In [101]:
lista = []
for word in Y:
  lista.append(word[0:4])

In [102]:
n_size = len(lista)
n_size

2527

In [103]:
classes = list(set(lista))
classes

['plas', 'meta', 'tras', 'card', 'glas', 'pape']

In [104]:
print(classes[0])
classes[1]
classes[2]
classes[3]
classes[4]
classes[5]

plas

'pape'

In [105]:
ysize = len(Y)
ysize

2527

In [106]:
y_data = []
for word in Y:
  if word[0:4]==classes[0]:
    y_data.append(0)
  elif word[0:4]==classes[1]:
    y_data.append(1)
  elif word[0:4]==classes[2]:
    y_data.append(2)
  elif word[0:4]==classes[3]:
    y_data.append(3)
  elif word[0:4]==classes[4]:
    y_data.append(4)  
  else:
    y_data.append(5)

In [107]:
Y = y_data
#Y[600]  # teste
#Y
#yclasses = list(set(Y))
#yclasses

In [108]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.33, random_state=42)

In [109]:
#y_train[5]

In [ ]:
#Y_test

In [111]:
#nx = len(Y_test)
#print(nx)

In [112]:
types = ['plas', 'meta', 'tras', 'card', 'glas', 'pape']

In [113]:
img_name[2500]

'trash111.jpg'

In [114]:
types[4]

'glas'

In [123]:

def load_images(images,types=types):

  nsize = len(images)
  X =[]
  y =[]
  names =[]
  k = 0

  for i in range(nsize): 
    img = image.load_img(img_name[i])
    im = cv2.resize(np.array(img), (224, 224))   #224,224
    im = preprocess_input(im)
    k += 1
    if( k % 1 == 0):
      X.append(im)

      if(types[0] in img_name[i]):
        names.append(types[0])
        y.append(0)
      elif(types[1] in img_name[i]):
        names.append(types[1])
        y.append(1)
      elif(types[2] in img_name[i]):
        names.append(types[2])
        y.append(2)
      elif(types[3] in img_name[i]):
        names.append(types[3])
        y.append(3)
      elif(types[4] in img_name[i]):
        names.append(types[4])
        y.append(4)
      else:
        names.append(types[5])
        y.append(5)

  X =np.array(X)
  return X,y,names

In [ ]:
#X_train, y_train, names_train = load_images(images_train)
#X_test, y_test, names_test = load_images(images_test)

In [124]:
#X_train[0].shape

(384, 512, 3)

In [129]:
df = pd.DataFrame({'name':X_train,'class':Y_train})
y_train = pd.get_dummies(df['class'])
y_train

      0  1  2  3  4  5
0     0  0  0  0  0  1
1     0  0  0  1  0  0
2     0  0  0  0  1  0
3     0  0  0  1  0  0
4     0  1  0  0  0  0
...  .. .. .. .. .. ..
1688  0  0  0  0  0  1
1689  0  1  0  0  0  0
1690  0  1  0  0  0  0
1691  0  1  0  0  0  0
1692  0  0  0  0  1  0

[1693 rows x 6 columns]

In [130]:
for i in range(6): 
  df_plot= df[(df["class"] == i)]
  n= df_plot.shape[0]
  print(types[i],n)

plas 324
meta 276
tras 91
card 272
glas 332
pape 398

In [133]:
df = pd.DataFrame({'name':X_test,'class':Y_test})
#print(df)
y_test = pd.get_dummies(df['class'])
y_test

     0  1  2  3  4  5
0    0  0  0  0  0  1
1    0  0  0  0  1  0
2    0  0  0  1  0  0
3    0  1  0  0  0  0
4    0  1  0  0  0  0
..  .. .. .. .. .. ..
829  1  0  0  0  0  0
830  1  0  0  0  0  0
831  0  0  0  0  1  0
832  0  0  0  1  0  0
833  1  0  0  0  0  0

[834 rows x 6 columns]

In [134]:
from keras.applications.mobilenet_v2 import MobileNetV2

In [140]:
D =len(types)
base_learning_rate = 0.0005
optimizer_base = 'rms'
fine_tune_at = 20
epochs_base = 30

def model(base_learning_rate, epochs_base,optimizer_base, fine_tune_at = fine_tune_at ):

  model = MobileNetV2(weights='imagenet')
  model_output = Dense(D, activation= 'softmax') #'relu')
  model_output = model_output(model.layers[-2].output)
  model_input = model.input
  model_new = Model(inputs=model_input, outputs=model_output)

  # Freeze all the layers before the `fine_tune_at` layer
  for layer in model.layers[:fine_tune_at]:
    layer.trainable = False  

  if optimizer_base == 'adam':
    model_new.compile(optimizer=tf.keras.optimizers.Adam(learning_rate=base_learning_rate),
                  loss=tf.keras.losses.CategoricalCrossentropy(from_logits=False),
                  metrics=['accuracy'])
  elif optimizer_base == 'rms':
    model_new.compile(optimizer=tf.keras.optimizers.RMSprop(learning_rate=base_learning_rate/10),
                  loss=tf.keras.losses.CategoricalCrossentropy(from_logits=False),
                  metrics=['accuracy'])
  else:
    pass
  r = model_new.fit(
      x=X_train,
      y=Y_train,
      validation_data=(X_test, Y_test),
      epochs=epochs_base,
      verbose=0
  )
  return r

In [136]:
r = model(base_learning_rate, epochs_base,optimizer_base)

Downloading data from https://storage.googleapis.com/tensorflow/keras-applications/mobilenet_v2/mobilenet_v2_weights_tf_dim_ordering_tf_kernels_1.0_224.h5
14536120/14536120 [==============================] - 0s 0us/step

ValueError: ignored

In [ ]:
plt.plot(r.history['accuracy'],label='accuracy')
plt.plot(r.history['val_accuracy'],label='val_accuracy')
plt.legend()

In [ ]:
plt.plot(r.history['loss'],label='loss')
plt.plot(r.history['val_loss'],label='val_loss')
plt.legend()

In [ ]:
epochs_base = 15
model = MobileNetV2(weights='imagenet')
model_output = Dense(D, activation= 'softmax') #'relu')
model_output = model_output(model.layers[-2].output)
model_input = model.input
model_new = Model(inputs=model_input, outputs=model_output)
model_new.compile(optimizer=tf.keras.optimizers.RMSprop(learning_rate=base_learning_rate/10),
              loss=tf.keras.losses.CategoricalCrossentropy(from_logits=False),
              metrics=['accuracy'])
r = model_new.fit(
    x=X_train,
    y=y_train,
    validation_data=(X_test, y_test),
    epochs=epochs_base,
    verbose=0
)

In [ ]:
plt.plot(r.history['loss'],label='loss')
plt.plot(r.history['val_loss'],label='val_loss')
plt.legend()

In [ ]:
plt.plot(r.history['accuracy'],label='accuracy')
plt.plot(r.history['val_accuracy'],label='val_accuracy')
plt.legend()

In [ ]:
_, accuracy_test = model_new.evaluate(X_test,y_test)
print('accuracy test:',accuracy_test)

In [ ]:
from sklearn.metrics import classification_report, confusion_matrix

In [ ]:
def retorna(y):
  resp = []
  for yi in y:
    vmax =max(yi)
    for idx, x in enumerate(yi):
      if(x == vmax):
        resp.append(idx)
  return resp

In [ ]:
predict=model_new.predict(X_test)

In [ ]:
predict[0].shape

In [ ]:
y_calc = retorna(predict)
y_test = retorna(np.array(y_test))

In [ ]:
confusion_matrix(y_test, y_calc)

In [ ]:
# Classification Report
print('\n\n', classification_report(y_test, y_calc, target_names=types))