<a href="https://colab.research.google.com/github/alinemmc/UFU_PPGEQ_AI_AlineCardoso/blob/main/C%C3%B3pia_de_C%C3%B3pia_de_C%C3%B3pia_de_ATIV2LIXEIRAINTELIGENTE_C%C3%B3pia_de_class_007_image_processing_blood_cells_learning_transfer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [40]:
import tensorflow as tf
tf.__version__

'2.12.0'

In [41]:
from tensorflow.keras.layers import Input, Lambda, Dense, Flatten, Conv2D, BatchNormalization, ZeroPadding2D, MaxPool2D, Activation, add
from tensorflow.keras.models import Model
from tensorflow.keras.preprocessing import image
from tensorflow.keras.preprocessing.image import ImageDataGenerator
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.applications.mobilenet_v2 import preprocess_input

import cv2
import numpy as np

from sklearn.metrics import confusion_matrix
import numpy as np
import matplotlib.pyplot as plt

from glob import glob

import zipfile
import pandas as pd


from sklearn.metrics import classification_report, confusion_matrix

from sklearn.model_selection import train_test_split

In [42]:
IMAGE_SIZE = [224,224]
ImgSize = IMAGE_SIZE[0]
epochs = 16
batch_size = 128

In [43]:
!gdown --id 1L4mdCDBgybKqr5Wo-kqT8HXcBJ9HXqSX

/usr/local/lib/python3.10/dist-packages/gdown/cli.py:121: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  warnings.warn(
Downloading...
From: https://drive.google.com/uc?id=1L4mdCDBgybKqr5Wo-kqT8HXcBJ9HXqSX
To: /content/trash_nov_22_2018.zip
100% 42.8M/42.8M [00:01<00:00, 30.4MB/s]

In [44]:
FILE='trash_nov_22_2018.zip'

In [45]:
archive = zipfile.ZipFile('trash_nov_22_2018.zip', 'r')
archive.extractall()

In [46]:
img_name=[]
with zipfile.ZipFile(FILE, "r") as f:
    for name in f.namelist():
        img_name.append(name)

In [47]:
Img_Size = 80
ref = 'jpg'
notref = 'met'

In [48]:
X= []  
Y =[]
n = len(img_name)
i = 0
for i in range(n):
  name = img_name[i]
  if(ref in name):
    Y.append(name)
    #X.append(cv2.imread(name,0))
    X.append(cv2.imread(name))
m = len(Y)
print(n,m)

2527 2527

In [49]:
lista = []
for word in Y:
  lista.append(word[0:4])

In [50]:
n_size = len(lista)
n_size

2527

In [51]:
classes = list(set(lista))
classes

['tras', 'glas', 'card', 'pape', 'plas', 'meta']

In [52]:
print(classes[0])
print(classes[1])
classes[2]
classes[3]
classes[4]
classes[5]

tras
glas

'meta'

In [53]:
ysize = len(Y)
ysize

2527

In [54]:
y_data = []
for word in Y:
    for i in range(6):
        if word[0:4]==classes[i]:
            y_data.append(i)

In [55]:
Y = y_data
#Y[600]  # teste
#Y
#yclasses = list(set(Y))
#yclasses

In [56]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.33, random_state=42)

In [57]:
#y_train[5]

In [58]:
#Y_test

In [59]:
#nx = len(y_test)
#print(nx)

In [60]:
types = ['plastic', 'metal', 'paper', 'cardboard', 'trash', 'glass']

In [61]:
#img_name[2500]

In [62]:
#types[4]

In [75]:

def load_images(images,types=types):

  nsize = len(images)
  X = []
  y = []
  names = []
  k = 0

  for i in range(nsize): 
    img = image.load_img(img_name[i])
    im = cv2.resize(np.array(img), (224, 224))   #224,224
    im = preprocess_input(im)
    k += 1
    if( k % 1 == 0):
      X.append(im)

      if(types[0] in img_name[i]):
        names.append(types[0])
        y.append(0)
      elif(types[1] in img_name[i]):
        names.append(types[1])
        y.append(1)
      elif(types[2] in img_name[i]):
        names.append(types[2])
        y.append(2)
      elif(types[3] in img_name[i]):
        names.append(types[3])
        y.append(3)
      elif(types[4] in img_name[i]):
        names.append(types[4])
        y.append(4)
      elif(types[5] in img_name[i]):
        names.append(types[5])
        y.append(5)    
      else:
        names.append(types[6])
        y.append(6)

  X =np.array(X)
  return X,y,names

In [64]:
#y = []
#names = []
#for i in range(6):
    #if types[i] in img_name[i]:
        #names.append(types[i])
        #y.append(i)

In [65]:
X_train, Y_train, names_train = load_images(X_train)
X_test, Y_test, names_test = load_images(X_test)

In [66]:
#X_train[0].shape

In [67]:
for idx in range(6):
    cont = 0
    for yi in Y_test:
        if yi == idx:
            cont += 1
    print('classe:',idx,'quantidade:',cont)

classe: 0 quantidade: 0
classe: 1 quantidade: 0
classe: 2 quantidade: 0
classe: 3 quantidade: 403
classe: 4 quantidade: 0
classe: 5 quantidade: 431

In [68]:
df = pd.DataFrame({'name':names_train,'class':Y_train})
y_train = pd.get_dummies(df['class'])
y_train

      1  2  3  5
0     0  0  1  0
1     0  0  1  0
2     0  0  1  0
3     0  0  1  0
4     0  0  1  0
...  .. .. .. ..
1688  0  1  0  0
1689  0  1  0  0
1690  0  1  0  0
1691  0  1  0  0
1692  0  1  0  0

[1693 rows x 4 columns]

In [69]:
for i in range(6): 
  df_plot= df[(df["class"] == i)]
  n= df_plot.shape[0]
  print(types[i],n)

plastic 0
metal 410
paper 379
cardboard 403
trash 0
glass 501

In [70]:
df = pd.DataFrame({'name':names_test,'class':Y_test})
#print(df)
y_test = pd.get_dummies(df['class'])
y_test

     3  5
0    1  0
1    1  0
2    1  0
3    1  0
4    1  0
..  .. ..
829  0  1
830  0  1
831  0  1
832  0  1
833  0  1

[834 rows x 2 columns]

In [71]:
from keras.applications.mobilenet_v2 import MobileNetV2

In [72]:
D =len(types)
base_learning_rate = 0.0005
optimizer_base = 'rms'
fine_tune_at = 20
epochs_base = 30

def model(base_learning_rate, epochs_base,optimizer_base, fine_tune_at = fine_tune_at ):

  model = MobileNetV2(weights='imagenet')
  model_output = Dense(D, activation= 'softmax') #'relu')
  model_output = model_output(model.layers[-2].output)
  model_input = model.input
  model_new = Model(inputs=model_input, outputs=model_output)

  # Freeze all the layers before the `fine_tune_at` layer
  for layer in model.layers[:fine_tune_at]:
    layer.trainable = False  

  if optimizer_base == 'adam':
    model_new.compile(optimizer=tf.keras.optimizers.Adam(learning_rate=base_learning_rate),
                  loss=tf.keras.losses.CategoricalCrossentropy(from_logits=False),
                  metrics=['accuracy'])
  elif optimizer_base == 'rms':
    model_new.compile(optimizer=tf.keras.optimizers.RMSprop(learning_rate=base_learning_rate/10),
                  loss=tf.keras.losses.CategoricalCrossentropy(from_logits=False),
                  metrics=['accuracy'])
  else:
    pass
  r = model_new.fit(
      x=X_train,
      y=y_train,
      validation_data=(X_test, y_test),
      epochs=epochs_base,
      verbose=0
  )
  return r

In [73]:
r = model(base_learning_rate, epochs_base,optimizer_base)

ValueError: ignored

In [ ]:
plt.plot(r.history['accuracy'],label='accuracy')
plt.plot(r.history['val_accuracy'],label='val_accuracy')
plt.legend()

In [ ]:
plt.plot(r.history['loss'],label='loss')
plt.plot(r.history['val_loss'],label='val_loss')
plt.legend()

In [ ]:
epochs_base = 15
model = MobileNetV2(weights='imagenet')
model_output = Dense(D, activation= 'softmax') #'relu')
model_output = model_output(model.layers[-2].output)
model_input = model.input
model_new = Model(inputs=model_input, outputs=model_output)
model_new.compile(optimizer=tf.keras.optimizers.RMSprop(learning_rate=base_learning_rate/10),
              loss=tf.keras.losses.CategoricalCrossentropy(from_logits=False),
              metrics=['accuracy'])
r = model_new.fit(
    x=X_train,
    y=y_train,
    validation_data=(X_test, y_test),
    epochs=epochs_base,
    verbose=0
)

In [ ]:
plt.plot(r.history['loss'],label='loss')
plt.plot(r.history['val_loss'],label='val_loss')
plt.legend()

In [ ]:
plt.plot(r.history['accuracy'],label='accuracy')
plt.plot(r.history['val_accuracy'],label='val_accuracy')
plt.legend()

In [ ]:
_, accuracy_test = model_new.evaluate(X_test,y_test)
print('accuracy test:',accuracy_test)

In [ ]:
from sklearn.metrics import classification_report, confusion_matrix

In [ ]:
def retorna(y):
  resp = []
  for yi in y:
    vmax =max(yi)
    for idx, x in enumerate(yi):
      if(x == vmax):
        resp.append(idx)
  return resp

In [ ]:
predict=model_new.predict(X_test)

In [ ]:
predict[0].shape

In [ ]:
y_calc = retorna(predict)
y_test = retorna(np.array(y_test))

In [ ]:
confusion_matrix(y_test, y_calc)

In [ ]:
# Classification Report
print('\n\n', classification_report(y_test, y_calc, target_names=types))